api/.DS_Store

api/application/cache/*
!api/application/cache/index.html
!api/application/cache/.htaccess

api/application/logs/*
!api/application/logs/index.html
!api/application/logs/.htaccess
api/statics/boooya/*

pnpinvest/_compile/*
pnpinvest/data/cast/*
pnpinvest/data/editor/*
pnpinvest/data/favicon/*
pnpinvest/data/file/*
pnpinvest/data/lawyer/*
pnpinvest/data/media/*
pnpinvest/data/notice/*
pnpinvest/data/photoreviewers/*
pnpinvest/data/qna/*
pnpinvest/data/safetyplan/*
pnpinvest/data/security/*
pnpinvest/data/session/*

.htaccess