<style>
.text-center{text-align: center}
.ml-auto, .mx-auto {
margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

@media all and (max-width: 1100px) {
    #bodyClick {
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 0;
        top: 0;
        left: auto;
        right: 300px;
        content: "";
        z-index: 1029;
        overflow-x: hidden;
    }
    .navbar-header {
        float: none;
    }
    .navbar.navbar-transparent {
          padding-top: 10px;
          border-radius: 0;
      }
    .navbar-header .navbar-toggle {
        display: block;
        float: right;
    }
    .navbar-collapse {
        position: fixed;
        display: block;
        top: 0px;
        height: 100vh;
        width: 230px;
        right: 0;
        margin-right: 0 !important;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
        max-height: none !important;
        -webkit-transform: translate3d(230px, 0, 0);
        -moz-transform: translate3d(230px, 0, 0);
        -o-transform: translate3d(230px, 0, 0);
        -ms-transform: translate3d(230px, 0, 0);
        transform: translate3d(230px, 0, 0);
        -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .navbar-collapse.collapse {
        height: 100vh !important;
    }
    .navbar-collapse ul {
        position: relative;
        z-index: 3;
        overflow-y: auto;
        height: 100%;
        float: none !important;
        margin: 0;
    }
    .navbar-collapse .nav > li:after {
        width: calc(100% - 30px);
        content: "";
        display: block;
        height: 1px;
        margin-left: 15px;
        background-color: #e5e5e5;
    }
    .navbar-collapse .nav > li:last-child:after {
        display: none;
    }
    .navbar-collapse::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #FFFFFF;
        display: block;
        content: "";
        z-index: 1;
    }
    .navbar.navbar-transparent .navbar-toggle .icon-bar {
        color: #FFFFFF;
    }
    .navbar.navbar-default .navbar-toggle .icon-bar {
        color: inherit;
    }
    .navbar .navbar-collapse .caret {
        position: absolute;
        right: 16px;
        margin-top: 8px;
    }
    .navbar .navbar-collapse .nav > li {
        padding: 0;
        float: none;
    }
    .navbar .navbar-collapse .navbar-nav {
        margin-top: 0;
    }
    .navbar .navbar-collapse .navbar-nav > li > a {
        color: #3C4858;
        margin: 5px 15px;
    }
    .navbar .navbar-collapse .navbar-nav > li > a:hover, .navbar .navbar-collapse .navbar-nav > li > a:focus {
        color: #3C4858;
    }
    .navbar .navbar-collapse .navbar-nav > li.button-container > a {
        margin: 15px;
    }
    .navbar .navbar-collapse .navbar-nav > li.open > .dropdown-menu {
        padding-bottom: 10px;
        margin-bottom: 5px;
        box-shadow: none;
    }
    .navbar .navbar-collapse .open .dropdown-menu.dropdown-with-icons > li > a {
        padding: 12px 20px 12px 35px;
    }
    .navbar .navbar-collapse .open .dropdown-menu > li > a {
        color: #3C4858;
        margin: 0;
        padding-left: 46px;
    }
    .navbar .navbar-collapse .open .dropdown-menu > li > a:hover, .navbar .navbar-collapse .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
    .navbar .navbar-collapse .dropdown-menu li {
        margin: 0 15px;
    }
    .navbar .navbar-collapse .dropdown.open .dropdown-menu {
        display: block;
    }
    .navbar .navbar-collapse .dropdown .dropdown-menu {
        display: none;
    }
    nav .container,
    nav .navbar-header {
        -webkit-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: transform 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
    .nav-open nav .navbar-header {
        left: 0;
        -webkit-transform: translate3d(-245px, 0, 0);
        -moz-transform: translate3d(-245px, 0, 0);
        -o-transform: translate3d(-245px, 0, 0);
        -ms-transform: translate3d(-245px, 0, 0);
        transform: translate3d(-245px, 0, 0);
    }
    .nav-open .navbar-collapse {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .features-5 .container [class*="col-"] {
        border-right: 0;
        border-left: 0;
    }
    .features-5 .container .row:last-child [class*="col-"]:last-child,
    .features-5 .container .row:last-child [class*="col-"]:nth-last-child(2) {
        border-top: 1px solid rgba(255, 255, 255, 0.35);
    }
}

.logo_k{
font-family: 'Pinyon Script', cursive;
font-weight:bold;
}
.logo_k_title{
font-family: 'Do Hyeon', sans-serif;
}
.icon-bar {
  transition: all 0.2s;
}
.navbar-toggle.toggled .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle.toggled .middle-bar {
  opacity: 0;
}
.navbar-toggle.toggled .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.brand{text-align: center;color:#bbb}
footer{
  box-shadow: 0 -4px 20px 0px rgba(0, 0, 0, 0.14), 0 -7px 12px -5px rgba(29, 150, 125, 0.46);
}
footer div.footercontainer ul li  {
  display: inline-block;
    font-size: 14px;
    font-weight: 200;
    margin-left: 10px;
}
.footer-uniq-dark {
    background-color: #1C2331;
    color: #ffffff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(29, 150, 125, 0.46);
}
.container2 {
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
.container2 {
    width: 750px;
  }
}
@media (min-width: 992px){
.container2 {
    width: 970px;
  }
}
@media (min-width: 1200px) {
.container2 { width: 970px;}
}

.page-header .container2{
  padding-top: 85px;
}
.container2 .main-raised {
    margin: -80px 5px 100px;
}
.container2 .main-raised:last-child {
    margin: -80px 5px 30px;
}
@-webkit-keyframes subtitle_bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes subtitle_bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes subtitle_bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes subtitle_bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.related-products {display:none}


.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card .card-body, .card .card-footer {
  padding: .9375rem 1.875rem;
}
.card .card-body, .card .card-footer {
  padding: .9375rem 1.875rem;
}
.card-background .card-body, .back-background .card-body, .front-background .card-body {
  position: relative;
  z-index: 2;
  min-height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 440px;
  margin: 0 auto;
}

#ajaxloading{
display:none;
position: fixed;
z-index: 10999;
height: 2em;
width: 2em;
overflow: show;
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
#ajaxloading:before {
content: '';
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}
#ajaxloading .spinner {
margin: 30% auto;
width: 50px;
height: 40px;
text-align: center;
font-size: 10px;
}

#ajaxloading .spinner > div {
background-color: #333;
height: 100%;
width: 6px;
display: inline-block;

-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#ajaxloading .spinner .rect1 {
background-color: #25edc1;
}


#ajaxloading .spinner .rect2 {
-webkit-animation-delay: -1.1s;
animation-delay: -1.1s;
background-color: #3caff5;
}

#ajaxloading .spinner .rect3 {
-webkit-animation-delay: -1.0s;
animation-delay: -1.0s;
background-color: #ff994c;
}

#ajaxloading .spinner .rect4 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
background-color: #fb4949;
}

#ajaxloading .spinner .rect5 {
-webkit-animation-delay: -0.8s;
animation-delay: -0.8s;
background-color: #e41937;
}

@-webkit-keyframes sk-stretchdelay {
0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
0%, 40%, 100% {
transform: scaleY(0.4);
-webkit-transform: scaleY(0.4);
}  20% {
transform: scaleY(1.0);
-webkit-transform: scaleY(1.0);
}
}

@media (min-width: 999px){
#gnb .depth1 > li > .dep1_menu.join_moile {
display:none;
}
}


.movebgcolordiv .movebgcolor {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 65vh;
        min-height: 65vh;
    background-color: #667db6;
    background-image: -webkit-linear-gradient(left top,#5d04a7,#00156b, #042b1d,#2098d1,#f44336);
    background-image: -moz-linear-gradient(left top, #5d04a7,#00156b, #042b1d,#2098d1,#f44336);
    background-image: -ms-linear-gradient(left top, #5d04a7,#00156b, #042b1d,#2098d1,#f44336);
    background-image: -o-linear-gradient(left top, #5d04a7,#00156b, #042b1d,#2098d1,#f44336);
    background-image: linear-gradient(to right, #5d04a7,#00156b, #042b1d,#2098d1,#f44336);
    background-size: 300% 300%;
    -webkit-animation: subtitle_bg 10s ease infinite;
    animation: subtitle_bg 10s ease infinite;
    opacity: .55;
    filter: alpha(opacity=55);
}
.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
    font-weight: 700;
    font-family: 'Nanum Gothic', sans-serif;
}
.header-filter[filter-color="pupple"]:after {
    background: rgba(132,13,121,0.88);
    background: linear-gradient(45deg,rgba(132,13,121,0.88) 0,rgba(208,44,180,0.31) 80%);
    background: -webkit-linear-gradient(135deg,rgba(132,13,121,0.88) 0,rgba(208,44,180,0.31) 80%);
}
.header-filter[filter-color="grey"]:after {
    background: rgba(133, 134, 134, 0.6);
    background: -webkit-linear-gradient(60deg, rgba(133, 134, 134, 0.6), rgba(0, 0, 0, 0.95));
    background: -o-linear-gradient(60deg, rgba(133, 134, 134, 0.6), rgba(0, 0, 0, 0.95));
    background: -moz-linear-gradient(60deg, rgba(133, 134, 134, 0.6), rgba(0, 0, 0, 0.95));
    background: linear-gradient(60deg, rgba(133, 134, 134, 0.6), rgba(0, 0, 0, 0.95));
}
.main-raised{
  margin-top: -150px
}
  .container {
    max-width: 1000px;
  }
  @media (min-width: 768px){
  .container {
      width: 690px;
  }}
@media (min-width: 992px){
  .container {
      width: 880px;
  }
  .main{
    width: 970px;
    margin: -150px auto 0px;
  }
}
@media (min-width: 1200px){
  .container {
      width: 939px;
  }
  .main{
    width: 1000px;
    margin: -150px auto 0px;
  }
}



.footer-big {
    padding: 0;
}
.footer-line1{ padding :10px 0; color:white;}
.newfooter{
  padding-top :15px;
  padding-bottom :15px;
}

.newfooter .row{
  margin-top:15px;
  margin-bottom:30px;
  padding-bottom: 22px;

}
.row.bottomline{
  border-bottom: 1px solid #585858;
}
.newfooter .row:last-child{
  margin-top: 50px;
  margin-bottom:5px;
  padding-bottom: 0px;
}

.roundbar{
  margin-bottom:20px;
}

.roundbar p.round{
  padding: 8px 13px;
   border: 1px solid #fff;
   border-radius: 30px;
   margin-bottom: 5px;
   font-size: 15px;
   font-weight: 400;
   color: white;
}
.footer_time{padding-left:30px;}
.splitdiv:after{}
.splitdiv div{display:inline-block}
.splitdiv .splitline{padding-left:10px;padding-right:10px;}


.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 90px 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #066c84;
  font-size: 24px;
  padding-left: 15px;
  font-weight: 600;
  min-height:34px;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn{
  display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 30px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #999999;
  color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.modal .btn:hover,
.modal .btn:focus,
.modal .btn.focus {
  color: #333;
  text-decoration: none;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-header .close {
    float: right;
    font-size: 21px;
    color:black;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-size: inherit;
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-top: -32px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 70%;
    min-width: 600px;
    max-width:900px;
    margin: 80px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

			 .modal.fade .c-modal-dialog {
			    -webkit-transition: -webkit-transform .3s ease-out;
			    -o-transition: -o-transform .3s ease-out;
			    transition: transform .3s ease-out;
			    -webkit-transform: translate(0,-25%);
			    -ms-transform: translate(0,-25%);
			    -o-transform: translate(0,-25%);
			    transform: translate(0,-25%);
			}
			.modal.in .c-modal-dialog {
					 -webkit-transform: translate(0,0);
					 -ms-transform: translate(0,0);
					 -o-transform: translate(0,0);
					 transform: translate(0,0);
			 }
			 .modal .c-modal-dialog {
				    margin-top: 100px;
				}
				.c-modal-dialog {
				    position: relative;
				    width: auto;
				    margin: 10px;
				}
				.c-modal-dialog{
					margin: 30px auto;
					width: 90%;
					max-width:800px;
				}
				.c-modal-dialog .modal-content .modal-body {
				    padding-top: 24px;
				    padding-right: 16px;
				    padding-bottom: 16px;
				    padding-left: 16px;
				}
