@charset "utf-8";
.icon_sideMenu_01{ background:url(../images/icon.png) no-repeat; background-position:0px 0px ; background-size:250px 250px; width:20px; height:17px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_02{ background:url(../images/icon.png) no-repeat; background-position:0px -25px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_03{ background:url(../images/icon.png) no-repeat; background-position:0px -50px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_04{ background:url(../images/icon.png) no-repeat; background-position:0px -75px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_05{ background:url(../images/icon.png) no-repeat; background-position:0px -100px ; background-size:250px 250px; width:18px; height:17px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_06{ background:url(../images/icon.png) no-repeat; background-position:0px -125px ; background-size:250px 250px; width:18px; height:16px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_07{ background:url(../images/icon.png) no-repeat; background-position:0px -150px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_08{ background:url(../images/icon.png) no-repeat; background-position:0px -175px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_sideMenu_09{ background:url(../images/icon.png) no-repeat; background-position:0px -200px ; background-size:250px 250px; width:18px; height:15px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 
.icon_setting{ background:url(../images/icon.png) no-repeat; background-position:-50px 0px ; background-size:250px 250px; width:18px; height:18px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; position: absolute; right:10px; top:20px}
.icon_avator{ background:url(../images/icon.png) no-repeat; background-position:-50px -25px ; background-size:250px 250px; width:31px; height:31px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; margin-top:-15px } 

.icon_facebook{ background:url(../images/icon.png) no-repeat; background-position:-200px 0px ; width:35px; height:34px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;}
.icon_twitter{ background:url(../images/icon.png) no-repeat; background-position:-250px 0px ; width:35px; height:34px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;}
.icon_google{ background:url(../images/icon.png) no-repeat; background-position:-300px 0px ; width:35px; height:34px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;}
.icon_blog{ background:url(../images/icon.png) no-repeat; background-position:-250px 0px ; width:35px; height:34px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle;} 

.icon_calendar{ background: url(../images/icon.png) no-repeat; background-position:-50px -100px ; background-size:250px 250px; width:20px; height:20px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; position:absolute; right:7px; top:-2px} 
.icon_down{ background: url(../images/icon.png) no-repeat; background-position:-100px -75px ; background-size:250px 250px; width:20px; height:20px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; margin-left:5px} 
.icon_lock{ background: url(../images/icon.png) no-repeat; background-position:-125px -75px ; background-size:250px 250px; width:14px; height:20px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; margin-left:5px} 
.icon_play{ background: url(../images/icon.png) no-repeat; background-position:-100px -25px ; background-size:250px 250px; width:38px; height:38px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; position:absolute; top:50%; left:50%;  margin-top:-18px; margin-left:-16px} 
.icon_reply{ background:url(../images/icon.png) no-repeat; background-position:-50px -75px ; background-size:250px 250px; width:19px; height:19px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; margin-right:5px} 
.icon_reply_write{ background:url(../images/icon.png) no-repeat; background-position:-75px -75px ;background-size:250px 250px; width:20px; height:19px; display:inline-block;overflow:hidden;line-height:9999px; vertical-align:middle; margin-right:5px} 


/* button */
.button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #eaeaea;
  height: 33px;
  line-height: 33px;
  padding: 0px 20px;
  font-weight: 300;
  font-size: 14px;
  font-family:NanumGothic, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  margin: 0;
  text-decoration: none;
  text-align: center; 
  cursor:pointer;
}
.button:hover,a.button:hover, .button:focus {
  background-color: #eeeeee;color: #000;
}

.button-line {
	border:1px solid #000; fon-weight:bold
}

.button-large { height:50px; line-height:50px}
.button-middle{ min-width:52px}
.button-small{ min-width:32px; padding:0 10px; font-size:12px; height:28px; line-height:28px;}
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.button-circle {
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
  border-radius: 250px;
}

.button-blue {
	background:#4da8fc; color:#fff !important; border:none;
}
.button-blue:hover, .button-gray:focus {
  background:#3b94e6 !important; color:#fff !important
}

.button-yellow {
	background:#f3ba21; color:#fff !important; border:none;
}
.button-yellow:hover, .button-gray:focus {
  background:#dfa918 !important; color:#fff !important
}

.button-gray {
	background:#5b5b5b; color:#fff !important; border:none;
}
.button-gray:hover, .button-gray:focus {
  background:#777 !important; color:#fff !important
}

.button-point {
	background:#f4762b; color:#fff !important; border:none;
}
.button-point:hover, .button-point:focus {
  background:#e1671f !important; color:#fff !important
}

.button-orange {
	background:#ff7700; color:#fff !important; border:none;
}
.button-orange:hover, .button-orange:focus {
  background:#da6018 !important; color:#fff !important
}

.option {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .option > input {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0; }

.checkbox, .radio {
  display: block;
  height: 100%;
  background: white;
  border: 2px solid #d9d9d9;
  border-radius: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .checkbox:before, .radio:before {
    content: '';
    display: none; }
  input:hover + .checkbox, input:hover + .radio, .checkbox:hover, .radio:hover {
    border-color: #ccc; }
  input:focus + .checkbox, input:focus + .radio, input.focus + .checkbox, input.focus + .radio {
    border-color: #f36f21; }
  input:checked + .checkbox:before, input:checked + .radio:before {
    display: block; }

.checkbox:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 4px;
  border: solid #aaaaaa;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  input:focus + .checkbox:before, input.focus + .checkbox:before {
    border-color: #f36f21; }

.radio {
  border-radius: 9px; }
  .radio:before {
    margin: 4px;
    width: 6px;
    height: 6px;
    background: #aaaaaa;
    border-radius: 3px; }
    input:focus + .radio:before, input.focus + .radio:before {
      background: #f36f21; }

.lt-ie9 .option > input {
  position: static;
  padding: 0; }
.lt-ie9 .checkbox,
.lt-ie9 .radio {
  display: none; }

.select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 120px;
  height: 33px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .select:hover {
    border-color: #fff; }
  .select > select {
    display: block;
    width: 100%;
    height: 29px;
    line-height: 17px;
    margin: 0;
    padding: 6px;
    padding-left: 9px;
    color: #a9a9a9;
    background: #fff;
    border: 0;
    -webkit-appearance: none; }
    .select > select:focus {
      color: #a9a9a9;
      outline: 2px solid #fff;
      outline-offset: 0;
      -moz-outline-radius: 2px; }
    .select > select::-ms-expand {
      display: none; }
  .select:before, .select:after {
    content: '';
    position: absolute;
    pointer-events: none; }
  .select:before {
    top: 0;
    bottom: 0;
    right: 0;
    width: 29px;
    background: inherit; }
  .select:after {
    top: 13px;
    right: 13px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #9095a0; }

.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .switch > label {
    display: block;
    position: relative;
    height: 25px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 13px;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out; }
    .switch > label:before {
      content: attr(data-off);
      position: absolute;
      top: 0;
      right: 3px;
      width: 33px; }
    .switch > label:after {
      content: '';
      display: block;
      margin: 2px;
      width: 17px;
      height: 17px;
      background: #ccc;
      border-radius: 13px; }
  .switch > input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    -webkit-appearance: none; }
    .switch > input:focus {
      outline: none; }
  .switch > input:focus + label {
    color: #10a4ee;
    border-color: #f36f21; }
    .switch > input:focus + label:after {
      background: #f36f21; }
  .switch > input:checked + label {
    padding-left: 33px;
    color: white;
    background: #f36f21;
    border-color: #f36f21; }
    .switch > input:checked + label:before {
      content: attr(data-on);
      left: 1px; }
    .switch > input:checked + label:after {
      margin: 1px;
      width: 19px;
      height: 19px;
      background: white; }
  .switch > input:checked:focus + label {
    background: #10a4ee;
    border-color: #10a4ee; }

.switch-square > label {
  border-radius: 2px; }
  .switch-square > label:before {
    width: 25px; }
  .switch-square > label:after {
    width: 21px;
    border-radius: 1px; }
.switch-square > input:checked + label {
  padding-left: 29px; }
  .switch-square > input:checked + label:after {
    width: 23px; }

.switch-green > input:checked + label {
  background: #4ebd4a;
  border-color: #4ebd4a; }
.switch-green > input:checked:focus + label {
  background: #3c9b39;
  border-color: #3c9b39; }

.lt-ie9 .switch {
  width: 54px;
  height: 21px;
  background: white;
  border: 2px solid #d9d9d9; }
  .lt-ie9 .switch > label {
    display: none; }
  .lt-ie9 .switch > input {
    position: static;
    width: inherit;
    height: inherit;
    vertical-align: top; }
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 2px; }
  .dropdown:hover {
    display: block; }
  .dropdown > li + li {
    margin-top: 2px; }

.dropdown-link {
  display: block;
  position: relative;
  padding: 0 13px;
  line-height: 33px;
  font-size: 13px;
  color: #243140;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: #eaedf5; }
  .dropdown-link:hover {
    text-decoration: none;
    background: #dce1ee; }
  .dropdown-link:focus {
    z-index: 1; }
  li:first-child > .dropdown-link {
    margin-top: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    li:first-child > .dropdown-link:before {
      content: '';
      position: absolute;
      bottom: 100%;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px outset transparent;
      border-bottom: 6px solid #eaedf5; }
    li:first-child > .dropdown-link:hover:before {
      border-bottom-color: #dce1ee; }
  li:last-child > .dropdown-link {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
